<div class="jumbotron text-center">
    <h1>Šperky</h1>

    <p>{{ message }}</p>




    <!-- slider container -->
    <div class="container-fluid slider">

        <!-- enumerate all photos -->
        <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />

        <!-- prev / next controls -->
        <a class="arrow prev" ng-click="showPrev()"><i class="fa fa-chevron-left"></i></a>
        <a class="arrow next" ng-click="showNext()"><i class="fa fa-chevron-right"></i></a>

        <!-- extra navigation controls -->
        <ul class="stock">
            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
            </li>
        </ul>

    </div>


</div>