
body * {
    font-family: 'Oxygen', serif;
    font-size: 16px;
}

html, body, .page {
    height: 100%;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.jumbotron {
    color: #fff;
}



.page-home {
    background: url("../imgs/ear/ear1.png");
}

.page-home .jumbotron {
    background: #434888;
}
.navbar-default .navbar-nav .list-home a{
    color: #434888;
}

.page-inspiration {
    background: url("../imgs/ear/ear2.png");
}

.page-inspiration .jumbotron {
    background: #9e0000;
}

.page-jewels {
    background: url("../imgs/ear/ear4.png");
}

.navbar-default .navbar-nav .list-jewels a{
    color:  #9e0000;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-inspiration .jumbotron {
    background: #9e0000;
}

.page-order {
    background: url("../imgs/ear/ear3.png");
}

.page-order .jumbotron {
    background: #4c8d1c;
}

.page-jewels {
    background: #fff;
}

.page-jewels .jumbotron {
    background: #9937d1;
}

.navbar {
    margin-bottom: 0;
}


.stock{
    display: none;}


.arrow {
    font-size: 72px;
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev{
    opacity:1;
    left:50px;
    aimation: slideOutLeft;

}
.arrow.next{
    opacity:1;
    right:50px
}

.arrow.prev:hover{
    opacity:1;

}
.arrow.next:hover{
    opacity:1;
}


.slider {
    border: 15px solid #dddddd;
    border-radius: 5px;
    height: 100%;
    margin: 20px auto;
    position: relative;
    width: 100%;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide{
    width: 100%;
}
/*.slide {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}


/*ANIMATIONS*/
/*=============================================================================*/


/*page-inspiration ------------------------*/
.page.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.page.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}


@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
    }
}

@-moz-keyframes rotateFall {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    20% {
        -moz-transform: rotateZ(10deg);
        -moz-animation-timing-function: ease-out;
    }
    40% {
        -moz-transform: rotateZ(17deg);
    }
    60% {
        -moz-transform: rotateZ(16deg);
    }
    100% {
        -moz-transform: translateY(100%) rotateZ(17deg);
    }
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}


@keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}


@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}



}
